###############################################################################
# The is the Clara Project's root Git ignore file. It is organized with
# defaults and common file types at the top and specialized file types
# alphabetically sorted below that.
# Please maintain the alphabetical sorting when this file in maintained.
# Please refer to https://github.com/github/gitignore for commonly ignored
# files and folders.
###############################################################################
mono_crash.*
*-junit.xml
results/
###############################################################################
# Common file types
###############################################################################
*.a
*.[Dd][Ll][Ll]
*.dylib
*.[Ee][Xx][Ee]
*.gz
*.[Ll][Ii][Bb]
*.[Oo]
*.[Oo][Bb][Jj]
*.[Rr][Aa][Rr]
*.[Zz][Ii][Pp]
*.swp

###############################################################################
# Common IntelliJ files and folders
###############################################################################
*.iws
.idea/
.idea/**/
.idea/[Hh]ttp[Rr]equests
.idea/[Rr]epl[Ss]tate.[Xx][Mm][Ll]
.idea_modules/
[Oo]ut/
**/.idea/**/
**/.idea/[Hh]ttp[Rr]equests
**/.idea/[Rr]epl[Ss]tate.[Xx][Mm][Ll]
**/.idea_modules/
**/[Oo]ut/

###############################################################################
# Common CUDA file types
###############################################################################
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

###############################################################################
# Generated Proto  files
###############################################################################
/api

###############################################################################
# Visual Studio Code Files
###############################################################################
XDG_CACHE_HOME

###############################################################################
# Common Jenkins files and folders
###############################################################################
dist
**/dist
dicomAdapterBuild
###############################################################################
# Common MSBuld files and folders
###############################################################################
**/bin/
**/obj/

###############################################################################
# Visual Studio user-specific files
###############################################################################
*.rsuser
*.sln.docstates
*.suo
*.user
*.userosscache

###############################################################################
# Visual Studio build results
###############################################################################
[Bb]in/
[Bb]ld/
[Dd]ebug/
[Dd]ebug[Pp]ublic/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
**/[Bb]in/
**/[Bb]ld/
**/[Dd]ebug/
**/[Dd]ebug[Pp]ublic/
**/[Ll]og/
**/[Oo]bj/
**/[Rr]elease/
**/[Rr]eleases/
**/[Xx]64/
**/[Xx]86/

###############################################################################
# Visual Studio 2015/2017 cache/options directory
###############################################################################
.vs/
**/.vs/

###############################################################################
# MSTest files and folders
###############################################################################
*.binlog
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*
**/[Tt]est[Rr]esult*/

###############################################################################
# .NET Core
###############################################################################
artifacts/
project.fragment.lock.json
project.lock.json
**/artifacts/
**/project.fragment.lock.json
**/project.lock.json

###############################################################################
# Visual Studio transient build files
###############################################################################
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.[Tt][Mm][Pp]
*.tmp_proj
*_wpftmp.csproj
*.[Ll][Oo][Gg]
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
.builds
**/.builds

###############################################################################
# Visual C++ cache files
###############################################################################
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.[Vv][Cc].db
*.[Vv][Cc].[Vv][Cc].opendb
**/ipch/

###############################################################################
# Visual Studio profiler
###############################################################################
*.psess
*.vsp
*.vspx
*.sap

###############################################################################
# Visual Studio code coverage results
###############################################################################
*.coverage
*.coveragexml
lcov.info


###############################################################################
# Coverlet coverage results
###############################################################################
coverage.info
coverage.opencover.xml
coverage.xml
coverage.json
coverage.cobertura.xml

###############################################################################
# Visual Studio Click-Once directory
###############################################################################
publish/
**/publish/

###############################################################################
# NuGet Packages
###############################################################################
*.[Nn][Uu][Pp][Kk][Gg]
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

###############################################################################
# Visual Studio Cache files
###############################################################################
*.[Cc]ache

###############################################################################
# Visual Studio upgrade & backup files and folders
###############################################################################
*.rptproj.bak
_UpgradeReport_Files/
Backup*/
UpgradeLog*.[Xx][Mm][Ll]
UpgradeLog*.[Hh][Tt][Mm]
ServiceFabricBackup/
**/_UpgradeReport_Files/
**/Backup*/
**/UpgradeLog*.[Xx][Mm][Ll]
**/UpgradeLog*.[Hh][Tt][Mm]
**/ServiceFabricBackup/

###############################################################################
# Python Tools for Visual Studio (PTVS)
###############################################################################
*.pyc
__pycache__/
**/__pycache__/
**/.venv/

###############################################################################
# Visual Studio Code files and folders
###############################################################################
.vscode/
**/.vscode

###############################################################################
# Vagrant files and folders
###############################################################################
.vagrant

###############################################################################
# Mac OS generated
###############################################################################
.DS_Store
**/.DS_Store
