name: Default

on:
  push:
    branches: 
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        export VERSION=`cat VERSION`
        export BUILD=$VERSION.$GITHUB_RUN_NUMBER
        echo "VERSION=$VERSION, BUILD=$BUILD"
        ./build.sh
    - name: Scan image
      uses: anchore/scan-action@v2
      with:
        image: "clara/dicomadapter:$BUILD"
        fail-build: true
    - name: grype scan JSON results
      run: for j in `ls ./anchore-reports/*.json`; do echo "---- ${j} ----"; cat ${j}; echo; done
    - name: Update Docs
      run: |
        export VERSION=`cat VERSION`
        export BUILD=$VERSION.$GITHUB_RUN_NUMBER
        echo "VERSION=$VERSION, BUILD=$BUILD"
        sed -i -e "s,v0.0.0.0,v$BUILD,g" ./docs/docfx.json
        sed -i -e "s,v0.0.0.0,v$BUILD,g" ./docs/index.md
    - uses: nikeee/docfx-action@v1.0.0
      name: Build Docs
      with:
        args: docs/docfx.json


  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run Unit Test
      run: ./run-tests.sh --unit
      working-directory: ./src
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        name: test
        path: src/results/*-junit.xml

  integration_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dcmtk
      run: sudo apt-get install dcmtk
    - name: Run Integration Test
      run: ./run-tests.sh --integration
      working-directory: ./src
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        name: test
        path: src/results/*-junit.xml
  

  integration_test_crd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dcmtk
      run: sudo apt-get install dcmtk
    - name: Run Integration Test w/K8s CRD
      run: ./run-tests.sh --crd
      working-directory: ./src
    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        name: test
        path: src/results/*-junit.xml

      
  publish_test_results:
    runs-on: ubuntu-latest
    needs: [unit_test, integration_test, integration_test_crd]
    steps:
      - name: Download Test Results
        uses: actions/download-artifact@v2
      - name: Display structure of downloaded files
        run: ls -R
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.2
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: Unit Test Results
          files: test/*-junit.xml
          report_individual_runs: true
          deduplicate_classes_by_file_name: false
  
  
        
